/* Contact poster start */
.contact-img-section {
  height: 65vh;
  width: 100%;
  background-image: url(../images/Contact-About/about-us-page-heading.jpg);
}
.contact-img-section .text h2 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
/* Contact poster end */

/* location start */
.loaction-section .content .iframe iframe {
  border-top: 0.5rem solid gray !important;
  border-left: 0.5rem solid gray !important;
  border-right: 0.5rem solid #eee !important;
  border-bottom: 0.5rem solid #eee !important;
}
.loaction-section .content .infos h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
/* location end */